* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: inherit;
    font-family: Roboto;
}
:root {
    --color-primary: rgb(197, 233, 253);
    --color-secondary: rgb(102, 113, 148);
    --color-accent: rgb(205, 205, 231);
}
.container {
    max-width: 1000px;
    margin: 0 auto;
}
.form {
    display: grid;
    gap: 1rem;
    grid-template-columns: 1fr 1fr;
}
.page-center {
    height: 100dvh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
}
.form-wrap {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}
.link {
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
}
input:user-invalid {
    outline-color: red;
}
.page {
    display: flex;
}